*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #4AA6BF 30% ,  #163A98 70%);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

div.container{
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
div.texto{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.img{
    width: 100px;
    border-radius: 100%;
}

h1.text{
    color: white;
    font-size: 20px;
    font-weight: 30px;
}
h2.text{
    color: white;
    font-size: 16px;
    font-weight: 30px;
}

button.btn{
    color: white;
    width: 600px;
    height: 60px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid white;
    transition: all .5s;
    cursor: pointer;
}

button.btn:hover{
    font-size: 16px;
    color:#163A98 ;
    background-color: white;
}

button.btn-2{
    font-size: 16px;
    font-weight: bolder;
    background-color: rgb(213, 213, 213);
    color: black;
    width: 300px;
    height: 45px;
    border-radius: 50px;
}

button.btn-2:hover{
    background-color: white;
}
