*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:500px;
    background-color: yellow;
    border-radius: 5px;
}

h1{
    padding: 10px;
}
h2{
    padding: 20px;
}